{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12 text-center bg-danger mt-3 mb-3 box-rounded">
            <h2 class="text-white p-3">{{ nadpis }}</h2>
        </div>
    </div>
    {% for misto in mista %}
    <div class="row">
        <div class="col-lg-3">
            <figure>
                <img src="{{ misto.foto_set.first.fotka.url }}" alt="{{ misto.oznaceni }}" class="img-fluid">
                <figcaption>{{ misto.foto_set.first.popis }}</figcaption>
            </figure>
        </div>
        <div class="col-lg-9">
            <h3>{{ misto.oznaceni }}</h3>
            <p>{{ misto.popis|truncatewords:25 }}</p>
            <p>Počet pokojů: <span class="badge badge-danger">{{ misto.pocet_pokoju }}</span> | Vybavení:
                <span class="vybaveni">
                    {% for vybaveni in misto.vybaveni.all %}
                    <img src="{{ vybaveni.symbol.url }}" title="{{ vybaveni.nazev }}" alt="{{ vybaveni.nazev }}">
                    {% endfor %}
                </span>
            </p>
        </div>
<!--
        <div class="col-lg-3 kontakt">
            <h4>Kontakt</h4>
            <p>Adresa: <b>{{ misto.adresa }}, {{ misto.misto }}, {{ misto.psc }}</b></p>
            <p>Telefon: <b>{{ misto.telefon }}</b></p>
            <p>E-mail: <b><a href="mailto:{{ misto.email }}">{{ misto.email }}</a></b></p>
            <p><a href="#" class="btn btn-secondary mt-2">Podrobnější informace</a></p>
        </div>
-->
    </div>

    <hr>
    {% endfor %}
{% endblock %}
